@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --background-color: black;
  --max-width: 500px;
  --size: 70px;
}

body {
  background-color: var(--background-color);
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: var(--max-width);
  overflow-x: hidden;
  padding-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-wrapper {
  justify-content: end;
}

.input-solved {
  font-size: 20px;
  text-align: end;
  width: 50%;
}

.input-query {
  font-size: min(25vw, 90px);
  height: 135px;
}

.input-query-max {
  font-size: 40px;
}

.grid5x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 4px 10px 0;
}

.black {
  color: black;
}

.grid-zero-row > .button:first-of-type {
  grid-column: 1/3;
  justify-content: flex-start;
  max-width: 190px;
  padding-left: min(7vw, min(30px));
  width: 42vw;
}

.bcb {
  background-color: var(--background-color);
  outline: 0;
}

.btn-textColor {
  color: white;
}

.bg-numbers {
  background-color: #333;
}

.bg-characters-g {
  background-color: #a5a5a5;
}

.bg-operators-y {
  background-color: #fe9e0b;
}

.bg-operators-w {
  background-color: white;
  color: #fe9e0b;
}

.button {
  align-items: center;
  border: none;
  display: flex;
  height: 20vw;
  justify-content: center;
  max-height: var(--size);
  max-width: var(--size);
  width: 20vw;
}

.calculator-container {
  margin: 0 auto var(--size) auto;
  max-width: 500px;
}

.zb-l {
  padding-left: 15%;
}

.im-b {
  margin-bottom: min(5vh, 65px);
}

.im-r {
  margin-right: 32px;
}

@media screen and (min-width: 500px) {
  .grid-zero-row > .button:first-of-type {
    padding-left: min(6.5vw, 27px);
  }
}

@media screen and (max-height: 690px) and (min-width: 280px) {
  .calculator-container {
    margin-bottom: 40px;
  }

  .input-solved {
    bottom: 60%;
    left: 10%;
    margin-right: 0;
    position: absolute;
    text-align: start;
    width: 30%;
    z-index: 5;
  }

  .input-query {
    margin-right: min(15vw, 50px);
  }
}
